<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ip6;User ID=ip6;Password=ip6;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <appSettings>
    <add key="SealingSlabChunkSize" value="400"/>
    <add key="CsvExportDirectory" value="C:\Users\bsc.COMITAS\Desktop\IP6\Applikation\Batchworker\Exports"/>
    <add key="CancellationCheckInterval" value="5000"/>
    <add key="SaveIterationsCount" value="100"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
